@import '../../../app/media';


.listCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-bottom: 1px solid var(--border-bottom-cyan-color);
    padding: 20px 10px;
    margin-left: 20px;
    cursor: pointer;

    .cardCategory {
        writing-mode: vertical-rl;
        text-orientation: sideways;
        transform: rotate(180deg);
        border-left: 1px solid #3cffd0;
        color: #bdbdbd;
        text-transform: uppercase;
        font-size: 0.65rem;
        padding-left: 3px;
        letter-spacing: .15em;
    }

    .cardTitle {
        margin: 0;
        color: #fff;

        &:hover {
            text-decoration: underline;
            text-decoration-color: #95f6df;
        }

        h3 {
            font-size: 1.3rem;
            font-weight: 500;
            line-height: 1.3em;

            @include for-phone-only {
                font-size: 1.1rem;
            }

            strong {
                font-weight: 500 !important;

            }
        }

        .cardMeta {
            display: inline-block;
            padding-top: 4px;
            text-transform: uppercase;
            font-size: 0.65rem;
            letter-spacing: .15em;
            color: #fff;
        }

        .cardAuthor {
            margin-right: 10px;
            color: var(--primary-color);
        }
    }

    .cardThumb {
        width: auto;

        img {
            object-fit: cover;
        }
    }
}